*__paycache__
*.pyc
*.env
*.html
*.txt
*.password
*.pendingTask
*.out
htmldocs
grafana
docker-compose-monitor.yml
logs
web_watcher_inspector/ww_frontend/node_modules
web_watcher_inspector/frontend/node_modules
id_rsa.pub

