numpy
opencv-python==4.8.0.74
Pillow==10.0.0
mysql-connector-python==8.1.0
Pillow==10.0.0
parsel==1.8.1
requests==2.31.0
python-dotenv==1.0.0
BeautifulSoup4
cdifflib==1.2.6
playwright==1.40.0
# requests==2.28.1 # most imp for docker
# docker
selenium==4.1.0