#record-table {
    border-spacing: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px;
    margin: 1rem;
    padding: 1rem;
    overflow-x: auto;
    overflow-y: hidden
}

/* #record-table tr {
    :last-child {
        td {
            border-bottom: 0;
        }
    }
}

#record-table th,
td {
    margin: 0;
    padding: 0.5rem;
    border-right: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;

    :last-child {
        border-right: 0;
    }
} */
table {
    border-collapse: collapse;
    box-shadow: rgb(6 6 6 / 16%) 0px 10px 36px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px;
    /* border: 2px solid rgb(200, 200, 200); */
    /* letter-spacing: 1px; */
    /* font-family: sans-serif; */
    /* font-size: 0.8rem; */
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: start;
    border : none
}
.error{
    color: red;
}
tr:nth-child(even) {
    background-color: #e5e5e5;
}

th[scope='col'] {
    background-color: #696969;
    color: #fff;
}

th[scope='row'] {
    background-color: #d7d9f2;
}

ul {
    padding: 0.5rem;
    list-style-type: none;
    margin: 0;
    padding-top: 1.5rem;
    color: darkcyan;
}

li {
    display: inline;
    margin-right: 0.3rem;
    padding: 0.2rem;
    border-radius: 2px
}

li.disable {
    color: #b9b9b9;
    border: 1px solid #d1d1d1;
}

li.active {
    cursor: pointer;
    border: 1px solid #d1d1d1;
}

li select {
    border: 1px solid #d1d1d1;
    font-size: 1rem;
    padding: 0.2rem;
    border-radius: 2px;
    color: darkcyan;
}

li input {
    width: 2vw;
    border: 1px solid #d1d1d1;
    height: 2.5vh;
    text-align: center;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: rgba(0, 0, 0, 0.4); */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    backdrop-filter: blur(4px);
}

.modal-content {
    /* min-height: 200px; */
    background-color: transparent;
    padding: 25px;
    /* box-shadow: rgb(106 106 106 / 5%) 0px 1px 0px 0px, rgb(137 137 137 / 8%) 0px 0px 0px 1px; */
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
    transition: 1s;
}
.modal-content table{
    background-color: whitesmoke;
}
.closing-d{
    text-align: end;
}
.view-more, .close-button{
    border: none;
    background: #008b8bcc;
    color: white;
    border-radius: 4px;
    font-size: 15px;
    margin-bottom: 3px;
    cursor: pointer;
    font-family: math;
}
.modal-content td {
    text-align: left;
}
.inspect-btn{
    background-color: #00a1df;
    padding: 3px;
    text-decoration: none;
}
.table-filter{
    display: flex;
  flex-wrap: nowrap;
}
.filter-d{
    width: 50%;
}
.filter-d input{
    border: none;
    background-color: #e5e5e5;
    padding: 8px;
    margin: 0px 0px 10px 6px;
    width: 50%;
    text-decoration: none;
    border-radius: 4px;
    color: black;
    font-size: 15px;
}
.filter-d label{
    font-size: 17px;
    color: #838383;
}
.search-btn{
    border: none;
    background: #008b8bcc;
    color: white;
    border-radius: 4px;
    font-size: 17px;
    margin-bottom: 3px;
    cursor: pointer;
    font-family: math;
    padding: 6px 17px;
}