.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    padding: 1.5vh 1vw;
    font-size: 20px;
    z-index: 9999;
    margin:1vw;
    box-shadow: 0px 2px 7px 0px #cfcfcf;
    border-radius: 6px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 8px;
}

.grid-col-1 {
    grid-column: auto / span 1;
}

.grid-col-2 {
    grid-column: auto / span 2;
}

.grid-col-3 {
    grid-column: auto / span 3;
}

.grid-col-4 {
    grid-column: auto / span 4;
}

.grid-col-5 {
    grid-column: auto / span 5;
}

.grid-col-6 {
    grid-column: auto / span 6;
}

.grid-col-7 {
    grid-column: auto / span 7;
}

.grid-col-8 {
    grid-column: auto / span 8;
}

.grid-col-9 {
    grid-column: auto / span 9;
}

.grid-col-10 {
    grid-column: auto / span 10;
}

.grid-col-11 {
    grid-column: auto / span 11;
}

.grid-col-12 {
    grid-column: auto / span 12;
}

@media (max-width: 767.98px) {

    .grid-col-1,
    .grid-col-2,
    .grid-col-3,
    .grid-col-4,
    .grid-col-5,
    .grid-col-6,
    .grid-col-7,
    .grid-col-8,
    .grid-col-9,
    .grid-col-10,
    .grid-col-11,
    .grid-col-12 {
        grid-column: auto / span 12;
    }

    .grid {
        grid-gap: 2px;
    }
}

.input-group {
    position: absolute;
}

.input-group .input-area {
    outline: none;
    border: none;
    padding: 5px 10px 5px 10px;
    font-size: 0.8vw;
    border-radius: 3px;
    width: 35vw;
    background-color: #e3e3e3;
}

.go-btn {
    border-radius: 3px;
    background-color: #03930f;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 0.9rem;
    width: 7vw;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0px 7px;
    height: 3.3vh;
    width: 4.7vw;
    font-family: ui-serif;
}

.go-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.go-btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.go-btn:hover span {
    padding-right: 25px;
}

.go-btn:hover span:after {
    opacity: 1;
    right: 0;
}
#inspect-btn{
    border-radius: 3px;
    background-color: #007cff;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 0.9rem;
    width: 3.7vw;
    transition: all 0.5s;
    cursor: pointer;
    height: 2.6vh;
    font-family: ui-serif;
}
.filters-d{
    text-align: end;
}
.copy-input{
    background: none;
    border: none;
    font-size: 0.9rem;
    text-align: end;
    color: #5b5b5b;
    pointer-events: none;
    font-family: ui-serif;
    width: 100%;
}
.copy-btn{
    background: none;
    border: none;
    text-align: end;
    cursor: copy;
}
.xpath-input-box{
    display: inline-flex;
    width: 100%;
}